[submodule "monitoring-stack"]
	path = monitoring-stacks/prom-monitoring-stack
	url = ../BBF-monitoring
[submodule "networks/xrpl"]
	path = networks/xrpl
	url = ../ripple-docker-testnet
[submodule "networks/besu-poa"]
	path = networks/besu-poa
	url = ../besu-docker-testnet
[submodule "networks/geth"]
	path = networks/geth
	url = https://github.com/mtouloup/eth-docker-testnet.git
