[submodule "monitoring-stack"]
	path = monitoring-stacks/prom-monitoring-stack
	url = https://github.com/UNIC-IFF/BBF-monitoring
[submodule "networks/xrpl"]
	path = networks/xrpl
	url = https://github.com/UNIC-IFF/ripple-docker-testnet
[submodule "networks/besu-poa"]
	path = networks/besu-poa
	url = ../besu-docker-testnet
[submodule "networks/geth"]
	path = networks/geth
	url = https://github.com/mtouloup/eth-docker-testnet.git
[submodule "networks/stellar-docker-testnet"]
	path = networks/stellar-docker-testnet
	url = https://github.com/mtouloup/stellar-docker-testnet
